<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IHUZO| API Integration</title>
    <link rel="shortcut icon" href="https://feyton.co.rw/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/main.css" class="css">
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <meta name="description" content="Payment API integration wth node.js">
    <meta name="image" content="https://feyton.co.rw/static/img/favicon.png">
</head>

<body class="flex  items-center flex-col">


    <div class=" card">
        <h1>API Integration</h1>
        <p>This is a demonstration of the flutterwave integration with different methods</p>
        <h2>Scenarios</h2>
        <hr>
        <div>
            <div class="head">
                <h3>1. Flutter Inline</h3>
            </div>
            <p>Demonstrated here, it charge the custom with flutterwave form handling all logics and use public API.</p>
            <div class="card">
                <form class="user-form" action="#none">
                    <h3>Fill in the information and click pay</h3>
                    <input id="Name" type="text" name="name" placeholder="Name">
                    <input placeholder="Your email" type="email" name="email" id="email">
                    <input required title="Amount between 100 - 50000" pattern="[0-9]{2,3}"
                        onkeyup="setAmount(this.value)" id="amount" type="number" name="amount" placeholder="Amount">

                    <div class="mt-3">
                        <div>
                            Your order is <span id="amount-value">
                                ...
                            </span> Rwf
                        </div>

                        <div class="pay-btn">
                            <button class="btn btn-primary" type="submit" id="start-payment-button">Pay
                                Now</button>
                        </div>
                        <div>
                            <b>Note: </b> Use <b>123456</b> as an <b>OTP</b> for testing on next pages.
                        </div>

                    </div>
                </form>

            </div>
        </div>
        <hr>
        <div>
            <h3>2. Flutter Standard</h3>
            <p>Test IT Here</p>
            <a href="/pay">
                <button class="btn btn-primary">Flutter Standard</button>
            </a>
        </div>
    </div>

    <script>
        function setAmount(value) {
            console.log(value)
            const REG_EX = /[0-9]/g
            if (value.match(REG_EX)) {
                document.getElementById("amount-value").innerText = value
            } else {
            }


        }
        function getValues(form) {
            const name = form.name.value || "Testing name"
            const email = form.email.value || "user@gmail.com"
            const amount = parseInt(form.amount.value) || 2000

            return { name, email, amount }
        }

        const form = document.querySelector(".user-form")
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            makePayment()
        })
        function makePayment() {
            const amount = document.getElementById("amount").value || 4000
            document.querySelector(".pay-btn").innerHTML = `
            <div class="response lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <span class="ld-text">Redirecting...</span>
            </div>
            `

            const info = getValues(document.querySelector(".user-form"))
            FlutterwaveCheckout({
                public_key: "<%= API_KEY %>",
                tx_ref: "<%= tx_id %>",
                amount: amount,
                currency: "RWF",
                payment_options: "mobilemoneyrwanda, card",
                redirect_url: "<%= redirect %>",
                meta: {
                    consumer_id: 23,
                    consumer_mac: "92a3-912ba-1192a",
                },
                customer: {
                    email: info.email,
                    phone_number: "08102909304",
                    name: info.name,
                },
                customizations: {
                    title: "Feyton Inc",
                    description: "Payment for IHUZO Services",
                    logo: "https://feyton.co.rw/static/img/favicon.png",
                },
            });
        }

    </script>


</body>

</html>