<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IHUZO| Standard</title>
    <link rel="stylesheet" href="main.css" class="css">
    <meta name="description" content="Payment API integration wth node.js">
    <meta name="image" content="https://feyton.co.rw/static/img/favicon.png">
    <link rel="shortcut icon" href="https://feyton.co.rw/static/img/favicon.png" type="image/x-icon">

</head>

<body>
    <div class="container p-6 w-50">
        <div class="card">
            <h1>Flutter Wave Standard Payment</h1>
            <p>All logic are handled on the backend without exposing the API to the user.</p>
            <h2>How it works</h2>
            <ol>
                <li>Fill the form and submit</li>
                <li>Wait to receive a payment link</li>
                <li>Click the key to be redirected</li>
                <li><b>Note:</b> To be redirected directly, just Check-the-box</li>
            </ol>
            <div class="card ">
                <form class="user-form" action="" method="POST">
                    <h3>Fill in the information and click pay</h3>
                    <input required id="name" type="text" name="name" placeholder="Name">
                    <input required placeholder="Your email" type="email" name="email" id="email">
                    <input required title="Amount between 100 - 50000" pattern="[0-9]{2,3}" id="amount" type="number"
                        name="amount" placeholder="Amount">
                    <div class="input-div">
                        <input type="checkbox" name="redirect" id="redirect">
                        <label for="redirect">Redirect me on success</label>

                    </div>
                    <div class="pay-btn">
                        <button type="submit" class="btn btn-primay">Proceed to payment</button>
                    </div>


                </form>


            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const form = document.querySelector(".user-form");
        form.addEventListener("submit", async (e) => {
            const redirect = document.getElementById("redirect")

            if (redirect.checked) {

            } else {
                e.preventDefault();

                const formData = new FormData(e.target);
                var object = {};
                formData.forEach((value, key) => object[key] = value);

                document.querySelector(".pay-btn").innerHTML = `
                <div class="response lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <span class="ld-text">Sending...</span>
                </div>
                `
                try {
                    const response = await axios.post("/pay", object);

                    document.querySelector(".pay-btn").innerHTML = `
                <a href="${response.data.link}" class="btn-pay">Proceed to payment</a>
                <div style="margin-top: 20px;" class="note">
                    <b>Note: </b> Use <b>123456</b> as an <b>OTP</b> for testing on next pages.
                </div>
                `

                } catch (err) {
                    document.querySelector(".pay-btn").innerHTML = `
               
                <div style="margin-top: 20px;" class="note">
                    Something went wrong. Try again
                </div>
                <button type="submit" class="btn btn-primay">Try again payment</button>
                `
                }



            }




            //const response = await axios.post("/pay", formData)
            //console.log(response)

        })
    </script>


    <!-- <script>
        const form = document.getElementById("form")
        form.addEventListener("submit", async (e) => {
            e.preventDefault()

            const formData = {
                name: e.target.firstName.value,
                address: e.target.address.value,
                email: e.target.email.value,
                number: e.target.number.value,
            }
            console.log(formData)
            const response = await fetch("http://localhost:3000/pay", {
                method: "POST",
                mode: 'cors',
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            console.log(formData, response)
            alert("request sent")
        })
    </script> -->

</body>

</html>